body {
  background-color: #F5F5F5;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}


.img-col {
  min-width: 10rem;
  min-height: 23rem;
}

#name-heading {
  font-size: 4rem;
  font-weight: 300;
  color: #5e60e2;
  width: 100%;
}

h1, h2 {
  color: #5e60e2
}

#img {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 50px;
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-1 {
  height: 325px;
  width: 325px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 4;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-2 {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: -20px;
  left: -10px;
  background-image: linear-gradient(135deg,#8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-3 {
  height: 375px;
  width: 375px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: -30px;
  left: -40px;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-4 {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -40px;
  left: -70px;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-1:hover,
#circle-2:hover,
#circle-3:hover,
#circle-4:hover,
#img:hover {
  transform: scale(1.05);
}

.btn {
  background-color: #5e60e2;
  margin: 0 1rem;
  border-radius: 20px;
}


.navbar {
  width: 7rem;
  position: fixed;
  height: 100vh;
}

.App {
  text-align: center;
}

.mb-n5 {
  z-index: 1;
}

.navbar {
  z-index: -1;
}


