body {
  background-color: #F5F5F5;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.img-col {
  min-width: 10rem;
  min-height: 23rem;
}

#name-heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #5e60e2;
  width: 100%;
}

h1, h2, h3, h4 {
  color: #5e60e2
}

#img {
  z-index: 5;
  position: absolute;
  top: 20px;
  left: 50px;
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
  object-fit: cover;
}

#circle-1 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 4;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
}

#circle-2 {
  height: 325px;
  width: 325px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: -10px;
  background-image: linear-gradient(135deg,#8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
  opacity: .8;
}

#circle-3 {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: -10px;
  left: -40px;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
  opacity: .6;
}

#circle-4 {
  height: 375px;
  width: 375px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -20px;
  left: -70px;
  background-image: linear-gradient(135deg, #8ed9e7, #8353d7);
  box-shadow: -5px 5px 10px rgba(0,0,0,.2);
  opacity: .4;
}

#resume {
  background-image: linear-gradient(135deg, #bfa0f5, #8353d7);
  border-radius: 5px;
  color: white;
  font-weight: 300;
  border-radius: 20px;
}

#resume:hover {
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.btn {
  background-image: linear-gradient(135deg, #bfa0f5, #8353d7);
  margin: 0 1rem;
  border: none;
  border-radius: 20px;
}

.btn-wide {
  width: 225px;
}

.gradient {
  background-image: linear-gradient(135deg, #8ed9e7, #b28cf3);
}

.btn-up {
  background-color: transparent;
  color: "rgba(0,0,0,.9)";
  border: none;
}

.gradient img:hover {
  cursor: pointer;
}

.gradient #no-cursor:hover {
  cursor: unset;
}

audio {
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.modal-img {
  overflow: hidden;
  object-fit: contain;
}

.scrimba {
  max-width: 80vw;
}


